@using Microsoft.AspNetCore.Authorization
@using System.Globalization

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - StudioCentral_External</title>
        <link rel="icon" type="image/png" href="~/favicon.ico">

        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/CustomTheme/SC002Theme.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/iziToast/dist/css/iziToast.min.css" rel="stylesheet" />
        <link href="~/lib/fontawesome/css/all.css" rel="stylesheet">
        <link href="~/css/site.css"  rel="stylesheet"/>
       
        <script src="~/lib/kendo-ui/js/jquery.min.js"></script>
        <script src="~/lib/kendo-ui/js/jszip.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/iziToast/dist/js/iziToast.min.js"></script>
        <script src=@Url.Content("~/lib/kendo-ui/js/cultures/kendo.culture.en-AU.min.js")></script>
        <script type="text/javascript">
            //set culture of the Kendo UI
            kendo.culture("en-AU");// change the culture
        </script>
        @{        CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-AU"); }
    </head>
    <body class="k-content wrapper">   
        <main role="main">
            @RenderBody()
        </main>
        @*<footer class="border-top footer text-muted">
            <div>
                &copy; 2020 - Studio X Central - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@
        @RenderSection("Scripts", required: false)
    </body>
</html>
