@model DataAccess.ViewModels.ManagerViewModel
@using Kendo.Mvc.UI

<label class="km-inline-field km-label-above" style="width:100%;">
    <i> @(Html.LabelFor(model => model.UserEmail))</i>
    @(Html.TextBoxFor(model => model.UserEmail, new { required = "required", style = "width:100%", @class = "k-textbox", data_bind = "value:UserEmail" }))
</label>
