
@model DataAccess.ViewModels.PaymentTransactionLogViewModel
@using Kendo.Mvc.UI
   
    <div>      
        @(Html.Kendo().CheckBoxFor(model => model.Reconciled).Checked(true).Label("Reconciled"))       
       
    </div>
    <br />
    <div>
        @Html.TextAreaFor(x => x.ReconciledComments, new { @class = "k-textbox", style = "width: 100%;height:250px", placeholder = "Comments..." })
    </div>

<style>
    .k-checkbox-label {
        padding-left:20px;
    }
</style>