@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "/Pages/Shared/_SignInLayout.cshtml";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource. Kindly use the email address registered from your studio.</p>
</header>
